/* Global */
body {
  background: #000;
}

/* Home */

/* Home header */
.header-home {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
  position: relative;
  background-image: url(images/banner.jpg);
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 20px;
}

.fa-solid {
  color: #fff;
  font-size: 1em;
  grid-column: 1;
  grid-row: 1;
  cursor: pointer;
}

.logo {
  color: #56e2ff;
  font-family: cinzel, serif;
  font-size: 1em;
  text-decoration: none;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  font-family: "goudy old style", copperplate, garamond;
  text-transform: uppercase;
}

.nav-home,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: inline-block;
}

.nav-home {
  position: absolute;
  background: #000;
  top: 3rem;
}

.nav-home a {
  color: #ffffff;
  text-decoration: none;
  font-family: "avant garde", sans-serif;
  font-size: 0.8em;
  display: block;
  padding: 1rem 2rem;
  height: 2rem;
}

.visit-button {
  text-decoration: none;
  color: #000;
  background-color: #ffff72;
  padding: 1rem 2rem;
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
  margin-bottom: 4rem;
  font-family: "goudy old style", copperplate, garamond;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.visit-line-two {
  display: block;
  font-size: 0.5em;
  font-weight: normal;
  justify-self: center;
}

.logo-rest {
  color: #56e2ff;
  font-family: cinzel, serif;
  font-size: 1em;
  text-decoration: none;
  grid-column: span 3;
  grid-row: 2;
  justify-self: center;
  font-family: "goudy old style", copperplate, garamond;
  text-transform: uppercase;
  display: block;
}

@media (min-width: 900px) {
  .fa-solid {
    display: none;
  }
  .nav-home {
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: space-between;
    position: static;
    width: 100%;
    grid-column: span 3;
    grid-row: 1;
  }
  .nav-home a {
    grid-row: 1;
    font-size: 1.2em;
    display: inline-block;
  }
  .visit-button {
    font-size: 2.5em;
    grid-row: 4;
    margin-bottom: 2rem;
  }
  .header-home {
    grid-template-columns: 1fr 1fr 1fr;
    background-position: 30% 45%;
    height: 20rem;
  }
  .logo {
    grid-column: 1;
    grid-row: 1;
    display: block;
    font-size: 0.8em;
  }
  .logo,
  .logo-rest {
    font-size: 1em;
  }
}

@media (min-width: 1320px) {
  .logo,
  .logo-rest {
    font-size: 1.5em;
  }
}

/* Home Exhibition carousel */
.exhibition-carousel {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --exhibition-carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.special-events {
  margin-top: 10em;
}

.exhibition-carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.slides::scroll-marker {
  content: "";
  height: 1em;
  width: 1em;
  background-color: #7f7f7f;
  border-radius: 50%;
}

.slides::scroll-marker:target-current {
  background-color: #56e2ff;
}

.exhibition-carousel::-webkit-scrollbar {
  display: none;
}

.exhibition-carousel::scroll-button(right),
.exhibition-carousel::scroll-button(left) {
  content: ">";
  border: none;
  background-color: #ffff72;
  font-family: cinzel, serif;
  color: #000000;
  font-weight: bold;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: fixed;
  position-anchor: --exhibition-carousel;
  position-area: right center;
  translate: -100%;
  border-radius: 50%;
}

.exhibition-carousel::scroll-button(left) {
  content: "<";
  position-area: left center;
  translate: 100%;
}

.exhibition-carousel::scroll-button(right):disabled,
.exhibition-carousel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}

.slides {
  scroll-snap-align: start;
  flex: 0 0 22em;
  height: 22em;
  padding: 1em;
  background-color: var(--primary-color);
  align-content: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slides img {
  width: 100%;
  max-width: 22rem;
  height: auto;
  object-fit: cover;
  max-width: 60%;
  height: auto;
}

.slides h2 {
  color: #ffffff;
  font-family: "goudy old style", copperplate, garamond;
  text-transform: uppercase;
  font-size: 1.4em;
  margin-top: 0.5em;
  text-align: center;
}

.exhibitions {
  anchor-name: --exhibitions;
}

.special-events {
  anchor-name: --special-events;
}

.exhibitions::scroll-button(right),
.exhibitions::scroll-button(left) {
  position-anchor: --exhibitions;
}

.special-events::scroll-button(right),
.special-events::scroll-button(left) {
  position-anchor: --special-events;
}

.margin-left-img {
  margin-left: 1.8rem;
}

.margin-right-img {
  margin-right: 1.8rem;
}

.button {
  text-decoration: none;
  color: #000;
  background-color: #ffff72;
  padding: 1rem 2rem;
  font-family: "goudy old style", copperplate, garamond;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 2rem auto;
}

.bottom-space {
  margin-bottom: 10rem;
}

@media (max-width: 599px) {
  .slides {
    flex: 0 0 88%;
    height: 88%;
  }
}

@media (min-width: 600px) {
  .slides {
    flex: 0 0 30%;
    height: 100%;
  }
  .special-events::scroll-button(right),
  .special-events::scroll-button(left) {
    display: none;
  }
  .special-events .slides::scroll-marker:target-current {
    display: none;
  }
  .special-events .slides::scroll-marker {
    display: none;
  }
  .exhibition-carousel::scroll-button(right),
  .exhibition-carousel::scroll-button(left) {
    width: 60px;
    height: 60px;
  }
  .slides img {
    max-width: 80%;
  }
  .button {
    font-size: 1.8rem;
  }
}

/* Home Explore together */
.explore-together {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  justify-items: center;
  margin: 2rem auto;
  max-width: 80%;
}

.explore-together p {
  color: #ffffff;
  font-family: "avant garde", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .explore-together {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .long-p {
    grid-column: span 2;
  }
  .short-p {
    grid-column: 1fr;
  }
}

.index-header {
  text-align: center;
  color: #56e2ff;
  font-family: "goudy old style", copperplate, garamond;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-top: 4rem;
}

/* Target Audience */
.target-audience {
  display: flex;
  flex-direction: column;
  margin: 10rem auto;
  max-width: 80%;
  justify-items: center;
  gap: 5rem;
}

.target-audience img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.target-audience h3 {
  color: #56e2ff;
  font-family: "goudy old style", copperplate, garamond;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 1rem;
  justify-self: center;
}

.target-audience p {
  color: #ffffff;
  font-family: "avant garde", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 3rem;
}

@media (min-width: 900px) {
  .target-audience {
    flex-direction: row;
    gap: 2rem;
  }
  .target-audience div {
    flex: 1;
  }
  .target-audience img {
    margin-bottom: 0;
  }
  .for-teachers {
    order: 0;
    display: flex;
    flex-direction: column;
  }
  .for-teachers h3 {
    order: 1;
  }
  .for-teachers img {
    order: 0;
  }
  .for-teachers p {
    order: 2;
  }
  .for-kids {
    order: 1;
    display: flex;
    flex-direction: column;
  }
  .for-kids h3 {
    order: 1;
  }
  .for-kids img {
    order: 0;
  }
  .for-kids p {
    order: 2;
  }
  .for-researchers {
    order: 2;
    display: flex;
    flex-direction: column;
  }
  .for-researchers h3 {
    order: 1;
  }
  .for-researchers img {
    order: 0;
  }
  .for-researchers p {
    order: 2;
  }
}

/* Footer */
footer {
  background-color: #202020;
  text-align: center;
  padding: 3rem;
  font-family: "avant garde", sans-serif;
  font-size: 0.9em;
  padding-bottom: 8rem;
}

.dropdown-menu {
  color: #fff;
  font-family: "avant garde", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 4rem;
  justify-items: center;
}

footer h2 {
  color: #56e2ff;
  font-family: "goudy old style";
  font-size: 1.5em;
  grid-column: span 2;
  grid-row: 1;
}

.opening-footer {
  grid-column: 1;
  grid-row: 2;
}

.location-footer {
  grid-column: 2;
  grid-row: 2;
}

.social-section {
  grid-row: 3;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  gap: 1em;
}

.media-header {
  grid-column-start: span 3;
  grid-row: 1;
}

.footer-links {
  grid-row: 4;
  grid-column: span 2;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

footer h3 {
  font-family: "avant garde", sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin: auto;
  text-align: left;
}

footer p {
  font-family: "avant garde", sans-serif;
  font-size: 0.8em;
  text-align: left;
}

.footer-links a {
  color: #fff;
  font-family: "avant garde", sans-serif;
  text-decoration: none;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.dropdown-content {
  padding: 1rem 2rem;
}

.dropdown-content,
.visit-drop-content {
  display: none;
  border: solid 1px #fff;
}

.footer-drop,
.dropdown-content,
.footer-boxes {
  width: 80%;
  margin: 0;
}

/* Social media */
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
  grid-column: span 3;
  grid-row: 2;
}

.social-section,
.social-media {
  width: 80%;
}

.media-items {
  cursor: pointer;
}

/* Responsive footer */
@media (min-width: 900px) {
  .dropdown-menu {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 2rem;
  }
  footer h2 {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }
  .opening-footer {
    grid-column: 2;
    grid-row: 2;
  }
  .location-footer {
    grid-column: 3;
    grid-row: 2;
  }

  .social-section {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
    margin-top: 0;
    gap: 1rem;
  }

  .footer-links {
    grid-column: span 3;
    grid-row: 5;
    width: 30%;
  }
  footer {
    padding-bottom: 6rem;
    font-size: 1rem;
  }
}

/* Exhibition Spaces */
.header-rest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
  position: relative;
  background-image: url(images/banner.jpg);
  height: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 30%;
  padding: 20px;
  justify-content: center;
}

.nav-rest {
  display: none;
  position: absolute;
  background: #000;
  top: 6rem;
}

.nav-rest a {
  color: #ffffff;
  text-decoration: none;
  font-family: "avant garde", sans-serif;
  font-size: 0.8em;
  display: block;
  padding: 1rem 2rem;
  height: 2rem;
}

.first-content,
.second-content,
.third-content,
.fourth-content,
.fifth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.first-content img,
.second-content img,
.third-content img,
.fourth-content img,
.fifth-content img {
  width: 20rem;
  height: auto;
}

h1 {
  text-align: center;
  color: #56e2ff;
  font-family: "goudy old style", copperplate, garamond;
  text-transform: uppercase;
  font-size: 2.1em;
  margin-top: 4rem;
  display: block;
  justify-self: center;
}

.no-margin {
  margin-bottom: 0;
}

h3 {
  color: #ffffff;
  font-family: "avant garde", sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.first-content h3,
.second-content h3,
.third-content h3 {
  text-align: center;
}

.first-section,
.second-section,
.third-section,
.fourth-section,
.fifth-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  color: #fff;
  gap: 3em;
  justify-self: center;
  justify-content: center;

  font-family: "avant garde", sans-serif;
}

.third-section .span,
.fourth-section .span,
.fifth-section .span,
.first-section .span,
.second-section .span {
  grid-column: span 2;
}

@media (min-width: 900px) {
  .nav-rest {
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: 100%;
    grid-column: span 3;
    grid-row: 1;
  }
  .nav-rest a {
    grid-row: 1;
    font-size: 1.2em;
    display: inline-block;
  }
  .logo-rest {
    grid-column: 1;
    grid-row: 1;
  }
  .page-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 5rem;
  }
  h1 {
    font-size: 3rem;
    margin-top: 5rem;
  }
  .fifth-content {
    grid-column: span 2;
    width: 50%;
    justify-self: center;
  }
  .special {
    grid-column: span 2;
    width: 70%;
    justify-self: center;
  }
}

/* Visit us */
.visit-header {
  text-align: center;
  color: #56e2ff;
  font-family: "goudy old style", copperplate, garamond;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-self: center;
}

.visit-header h1 {
  font-size: 3rem;
  margin: 0;
}

.visit-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.visit-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-self: center;
  justify-content: center;
  gap: 2rem;
}

.visit-image {
  grid-row: 1;
  justify-self: center;
  height: auto;
  width: 20rem;
  object-fit: cover;
}

.visit-menu {
  grid-row: 2;
  color: #fff;
  font-family: "avant garde", sans-serif;
  margin-bottom: 5rem;
}

.visit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visit-drop-content,
.yellow {
  width: 100%;
}

.yellow {
  background-color: #ffff72;
  color: #000;
  border: solid #000;
  font-family: "goudy old style", copperplate, garamond;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  text-align: center;
}

.visit-drop-content,
.yellow {
  padding: 2rem 4rem;
  width: 15rem;
}

.map-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#location-checkbox:checked ~ .visit-drop-content,
#open-checkbox:checked ~ .visit-drop-content,
#tour-checkbox:checked ~ .visit-drop-content,
#accessibility-checkbox:checked ~ .visit-drop-content,
#food-checkbox:checked ~ .visit-drop-content,
#shop-checkbox:checked ~ .visit-drop-content {
  display: block;
}

#location-checkbox,
#open-checkbox,
#tour-checkbox,
#accessibility-checkbox,
#food-checkbox,
#shop-checkbox {
  display: none;
}

.tour-choices {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2em;
  margin: 2em 0;
}

.contact-button {
  background-color: #ffff72;
  color: #000;
  border: none;
  padding: 0.5rem 1.5rem;
  font-family: "goudy old style", copperplate, garamond;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  display: block;
  justify-self: left;
}

@media (min-width: 600px) {
  .yellow,
  .visit-drop-content {
    width: 20rem;
  }
}

@media (min-width: 1000px) {
  .visit-page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
  }
  .visit-image {
    height: 38rem;
    width: auto;
    grid-column: 1;
  }
  .yellow,
  .visit-drop-content {
    width: 25rem;
  }
  .visit-menu {
    grid-column: 2;
    grid-row: 1;
  }
  .tour-choices {
    width: 40%;
  }
  .visit-header {
    margin: 5rem;
  }
  .visit-header h1 {
    font-size: 4rem;
  }
  .visit-header h2 {
    font-size: 2rem;
  }
}

/* Get involved */
.get-involved-main {
  color: fff;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  justify-content: center;
  align-content: center;
  margin: 3rem;
  margin-bottom: 5rem;
  width: 100%;
  justify-self: center;
}

.get-involved-main p {
  color: #fff;
  font-family: "avant garde", sans-serif;
}

.support p,
.internships p,
.volunteer p {
  width: 65%;
  justify-self: center;
}

.get-involved-main img {
  display: block;
  margin: 0 auto;
}

.volunteer img {
  height: 20rem;
  width: auto;
}

.internships img {
  height: 20rem;
  width: auto;
}

.get-involved-main h3 {
  justify-self: center;
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .get-involved-main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0;
  }
  .support {
    grid-row: 1;
    grid-column: span 2;
    width: 100%;
    margin-bottom: 6rem;
    justify-self: center;
  }
}
